main {
    min-height: 100vh;
}

.user_dashboard {
    display: grid;
    grid-template-columns: 5fr fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: "top rosterAside" "schedule rosterAside";
}
.user_layout_header {
    display: flex;
    justify-content: space-between;
}
.user_nextup_event {
    display: grid;
    grid-template-rows: 50px 1fr;
    margin-bottom: 50px;
}

.teams_schedules {
    display: grid;
    grid-template-rows: 50px 1fr 35px;
    outline: solid;
}
.section_header {
    grid-row: 1;
    place-self: center;
}
.nextup_list {
    margin: 0px;
    padding: 15px;
    grid-row: 2;
    border-radius: 15px;
    background-color: #ffffff30;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.schedule_heading {
    display: flex;
    justify-content: space-evenly;
}
