.user_dashboard {
    display: grid;
    grid-template-columns: 5fr fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: "top rosterAside" "schedule rosterAside";
}
.dashboard_headings {
    grid-area: top;
    h1 {
        margin-bottom: 0px;
    }
}
.dashboard_heading-sub {
    font-size: 15px;
}
.dashboard_schedule {
    grid-area: schedule;
}
.dashboard_roaster {
    grid-area: rosterAside;
}
.team_schedule_item {
    display: grid;
    grid-template-columns: 45px 100px 100px 68px 68px 250px 50px;
    gap: 20px;
    ul,
    li {
        margin: 0;
    }
}
ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
li {
    display: flex;
    gap: 50px;
}
form {
    margin: 50px;
    padding: 50px;
}

.htmx_action-add {
    border-radius: 15px;
    outline: solid;
    padding: 5px 10px;
    margin: 50px;
    cursor: pointer;
}
