.site_navigation-topBar {
  display: flex;
  justify-content: space-around;
  li {
    list-style: none;
  }
}

.page_actions {
  background-color: #cec8c866;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.action_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.venue_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.venue_list-item {
  display: grid;
  grid-template-columns: 35px 1fr 35px;
  grid-template-rows: 35px;
  align-items: center;
}
.venue_list-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.button_icon {
  place-self: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

.venueDetail_address-block {
}
