.site_navigation-topBar {
  display: flex;
  justify-content: space-around;
  li {
    list-style: none;
  }
}

.page_actions {
  background-color: #cec8c866;
  border-radius: 10px;
  padding: 10px;
}

.vunue_list-item {
  display: flex;
  justify-content: space-between;
  width: 75%;
  min-width: 250px;
  border-bottom: 2px solid white;
}
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}
