{% extends '../base.html' %} {%block content %} {% load static %}
<script src="{% static 'script.js' %}"></script>

<h1>Venues</h1>
<div>
  <a href="{%url 'index'%}">Main</a>
</div>

<div class="page_actions">
  <a href="{% url 'spreadsheet_upload' %}">Upload file</a>
  <button>New Location</button>
</div>
<ul id="venue-list">
  {% for venue in locations %}
  <div class="vunue_list-item" id="venue-{{ venue.pk }}">
    <li>{{ venue.name }} - {{ venue.city }}, {{ venue.state }}</li>
    <!-- A modal dialog containing a form -->
    <dialog>
      <button autofocus>Close</button>
      <p>This modal dialog has a groovy backdrop!</p>
    </dialog>
    <button>Show the dialog</button>
    <p>
      <button id="showDialog">Show the dialog</button>
    </p>
    <output></output>
    <button
      hx-delete="{% url 'delete_location_entry' venue.pk %}"
      hx-target="#venue-{{ venue.pk }}"
      hx-swap="outerHTML"
    >
      delete {{venue.pk}}
    </button>
  </div>

  {% endfor %}
</ul>

{%endblock%}
