{% extends "../../base.html" %} {% block content %}

<div class="location_content_layout">
  <div class="location_heading">
    <a href={% url 'locations_list' %}>Location List</a>

    <h2>{{ object.name | title}}</h2>
    <h3>{{ object.short_name | upper }}</h3>
  </div>

  <div class="location_address">
    <h4>ADDRESS</h4>
    <div class="venueDetail_address-block">
      {{object.address}}<br />
      {{ object.city }}, {{ object.state }} <br />
      {{ object.zip_code }}
    </div>
  </div>

  <div class="location_actions">
    <a href="{% url 'edit_location' object.pk  %}">EDIT</a>
    <a href="{% url 'delete_location' object.pk  %}">DELETE</a>
  </div>
</div>

{%endblock%}
